on:
  workflow_dispatch:
  schedule:
    - cron: "30 12 * * MON"

name: Scala Steward
permissions:
  contents: write
  pull-requests: write

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Scala Steward
    if: github.event_name == 'workflow_dispatch' || vars.RUN_SCALA_STEWARD
    steps:
      - name: Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          author-email: jenkins@garnercorp.com
          author-name: GarnerUser
          scala-steward-version: 0.30.2
